p
{
   color:blue;
   }
   
body
{
	background-image: url(bit.jpg);
   background-color: blue;
   }
   
   h1
   {
   text-decoration: blink;
   border:3px blue inset;
   border-radius:18px;
   
   
   }
   #menu
{
	width:180px;
	height:600px;
	text-align:left;
	border-right:1px dashed #67A3C8;
}

.element_menu
{
margin-top:10px;
margin-bottom: 0px;
margin-right:10px;
margin-bottom:10px;


}

/*quelques effet sur les menus*/

.titrecate /*tous les titre de menu*/
{
color: #000;
font-family: Georgia, "Times New Roman", Times, serif;
text-align: center;
font-size:18px;
background-color:#ffffff;
}

.element_menu ul /*toutes les listes à puces se trouvant dans un menu*/
{
padding: 0px; /*tous les côtés ont une marge interieure de 0 pixel*/
padding-left: 0px; /* mais on modifie ensuite la marge de gauche, donc celle là fera finalement 20 pixels*/

margin: 10px;
margin-bottom: 0px;
}

.element_menu a /*tous les éléments se trouvant dans un menu*/
{
display:block;
background-color:#F00;
text-indent:10px;
text-decoration:none;
color: #ffffff;
padding:1px;
border-bottom:1px dashed #000000;
border-top:1px dashed #000000;
}

.element_menu a:hover /* Quand on pointe sur un lien du menu*/
{
	background-color:#3FF;
	color:#67A3C8;
	text-indent:10px;
} 
.elememt_menu a:visited:/*quand on  a déja selectioné un lien*/
{ 
color:#AAA;

}

 
 ul/*toute les listes non ordenés*/
 { 
 list-style-type:none; }

